name: 'RELEASE'

on:
    release:
        types: [published]

jobs:
    publish_to_npm:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Install dependencies
              run: npm ci

            - name: Build app
              run: npm run-script build

            - uses: JS-DevTools/npm-publish@v1
              with:
                  token: ${{ secrets.NPM_TOKEN }}
