name: 'RELEASE'

on:
    release:
        types: [published]

jobs:
    publish_to_npm:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write
        steps:
            - uses: actions/checkout@v6

            - uses: actions/setup-node@v6
              with:
                  node-version: 24
                  registry-url: 'https://registry.npmjs.org'
                  cache: 'npm'

            - name: Install dependencies
              run: npm ci

            - name: Build app
              run: npm run-script build

            - run: npm publish
